.father {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.box {
  height: 300px;
  color: white;
  font-size: 36px;
  flex-grow: 1;
}

.box:first-child {
  background-color: tomato;
  flex: 1 0 500px;
}

.box:nth-child(2) {
  background-color: gold;
}

.box:last-child {
  background-color: teal;
}
